html,
body {
  margin: 0;
  background-color: #000;
}

#app {
  position: relative;
  width: 1920px;
  height: 1200px;
  overflow: hidden;
  * {
    position: absolute;
  }
}

h1 {
  position: absolute;
}


img.wall {
  position: absolute;
  margin: 0;
}

//
// フォントスタイル
//
@font-face {
  font-family: "BRINGTHANOIZE";
  src: url("./font/BRINGTHANOIZE.woff") format("woff");
}
@font-face {
  font-family: "DonGraffiti";
  src: url("./font/DonGraffiti.woff") format("woff");
}
@font-face {
  font-family: "Sadoc Wild";
  src: url("./font/Sadoc\ Wild.woff") format("woff");
}
@font-face {
  font-family: "SedgwickAveDisplay-Regular";
  src: url("./font/SedgwickAveDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "Sprayerz";
  src: url("./font/Sprayerz.woff") format("woff");
}
@font-face {
  font-family: "Tag Hand Graffiti";
  src: url("./font/Tag\ Hand\ Graffiti\ Trash_fat.woff") format("woff");
}
@font-face {
  font-family: "adrip1";
  src: url("./font/adrip1.woff") format("woff");
}
@font-face {
  font-family: "street soul";
  src: url("./font/street\ soul.woff") format("woff");
}
@font-face {
  font-family: "throwupz";
  src: url("./font/throwupz.woff") format("woff");
}

/* フォントは16種類? */
// ベースフォントを設定
.base_font {
  filter: blur(1.5px);
  font-family: "Sadoc Wild";
  mix-blend-mode: hard-light;
}

.abs {
  position: absolute;
}

@for $i from 0 through 15 {
  .style#{$i} {
    color: black;
  }
}

.style1 {
  color: red;
}

//
// tagging
//
.tagging {
  color: #180909;
  text-align: center;
  line-height: 0.6em;
  filter: opacity(0.9);
  mix-blend-mode: hard-light;
  .style1 &{ color: red; }
  .style2 &{ color: yellow; }
  .style3 &{ color: blue; }
  .style4 &{ color: greenyellow; }
}




