html,
body {
  margin: 0;
  background-color: #000;
}

#app {
  position: relative;
  width: 1920px;
  height: 1200px;
  overflow: hidden;
}

h1 {
  position: absolute;
}

#app span {
  position: absolute;
}

img.wall {
  position: absolute;
  margin: 0;
}

//
// フォントスタイル
//
@font-face {
  font-family: "BRINGTHANOIZE";
  src: url("./font/BRINGTHANOIZE.woff") format("woff");
}
@font-face {
  font-family: "DonGraffiti";
  src: url("./font/DonGraffiti.woff") format("woff");
}
@font-face {
  font-family: "Sadoc Wild";
  src: url("./font/Sadoc\ Wild.woff") format("woff");
}
@font-face {
  font-family: "SedgwickAveDisplay-Regular";
  src: url("./font/SedgwickAveDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "Sprayerz";
  src: url("./font/Sprayerz.woff") format("woff");
}
@font-face {
  font-family: "Tag Hand Graffiti";
  src: url("./font/Tag\ Hand\ Graffiti\ Trash_fat.woff") format("woff");
}
@font-face {
  font-family: "adrip1";
  src: url("./font/adrip1.woff") format("woff");
}
@font-face {
  font-family: "street soul";
  src: url("./font/street\ soul.woff") format("woff");
}
@font-face {
  font-family: "throwupz";
  src: url("./font/throwupz.woff") format("woff");
}

/* フォントは16種類? */
// ベースフォントを設定
.base_font {
  filter: blur(1px);
  font-family: "Sadoc Wild";
}

$ffTagging: "BRINGTHANOIZE", "DonGraffiti", "Sadoc Wild",
  "SedgwickAveDisplay-Regular", "Sprayerz", "Tag Hand Graffiti", "adrip1",
  "street soul", "throwupz";

.tagging {
  .font1 &,
  .font2 & {
    filter: blur(1px);
    font-family: "BRINGTHANOIZE";
  }

  .font3 &,
  .font4 & {
    filter: blur(1px);
    font-family: "DonGraffiti";
  }

  .font5 &,
  .font6 & {
    filter: blur(1px);
    font-family: "Sadoc Wild";
  }

  .font7 &,
  .font8 & {
    filter: blur(1px);
    font-family: "SedgwickAveDisplay-Regular";
  }

  .font9 &,
  .font10 & {
    filter: blur(1px);
    font-family: "Sprayerz";
  }

  .font11 &,
  .font12 & {
    filter: blur(1px);
    font-family: "Tag Hand Graffiti";
  }

  .font13 &,
  .font14 & {
    filter: blur(1px);
    font-family: "adrip1";
  }

  .font15 & {
    filter: blur(1px);
    font-family: "street soul";
  }

  .font16 & {
    filter: blur(1px);
    font-family: "throwupz";
  }
}

// .message {
//   .font1 &{
//     font-family: ;
//   }
// }

.abs {
  position: absolute;
}

@for $i from 0 through 15 {
  .style#{$i} {
    color: black;
  }
}

.style1 {
  color: red;
}

//
// tagging
//
@for $i from 0 through 15 {
  .style#{$i} .tagging {
    color: black;
  }
}
